<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#disboard">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- %= link_to "Pesquisa-Operacional", root_path, class: "navbar-brand" %-->
        <a class="navbar-brand" href="/"><i class="fa fa-flask"></i> V-Lab</a>
        </div>

        <div class="collapse navbar-collapse" id="disboard">
            <ul class="nav navbar-nav">
                <!-- active_link helper for navbar, (active_link 'text' 'link' 'view_name' ref) -->
                {{active_link 'Sobre' 'about' 'about' ref}}
                {{active_link 'Enviar bit' 'upload' 'bit_upload' ref}}
            </ul>
        </div>
    </div>
</nav>