{{> top_nav}}

<div class="container">
    <div class="panel panel-default" id="filepanel">
        <div class="panel-heading">Selecione o arquivo .bit</div>
        <div class="panel-body">
            <div class="container-fluid">
                <form action="/upload" method="POST" enctype="multipart/form-data">


                    <!--a class="file-input-wrapper btn btn-default">

                        <span>Selecionar .bit</span>

                        <input id="inputBit" type="file" data-filename-placement="inside">

                    </a-->


                    <label class="control-label">Selecione o bitstream</label>
                    <input id="inputBit" name="bit_file" type="file" class="file-loading">
                    <br>
                    <input class="btn btn-default" type="submit" value="Enviar .bit" name="submit">
                </form>
            </div>
        </div>
    </div>
</div>
<pre><strong>iMPACT debug:</strong><br>{{debug}}</pre>